extends ./index

block contenido
    .flex.justify-end.mb-4
        ul.flex.space-x-4
            li 
    .py-10 
        h1.text-4xl.my-10.font-extrabold.text-center Proyecto
            span.font-normal Universidad
        h2.text-center.text-2xl.font-extrabold= pagina

        table.table-auto.w-full.mt-4
            thead 
                tr
                    th.text-left.text-gray-500.uppercase.px-6.py-3 No se efectuo la operación
            tbody  
                    tr 
                        td.px-6.py-4= falla 

block scripts
