doctype doctype html
html(lang="es")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Proyecto Universiddad | #{pagina}
        link(rel="stylesheet", href="/css/app.css")
    body.min-h-screen.bg.gray-50 
        nav.bg-white.shadow
            .container.mx-auto.px-4 
                .flex.justify-between.items-center.h-16
                    a.text-xl.font-bold.text-grey-800(href="/") Proyecto Univeridad
                    ul.flex.space-x-4
                        li 
                            a(href="/estudiantes/listarEstudiantes" class="text-grey-600 hover:text-indigo-600") Listar estudiantes
                        li 
                            a(href="profesores" class="text-grey-600 hover:text-indigo-600") Listar profesores
                        li 
                            a(href="/crearEstudiante" class="text-grey-600 hover:text-indigo-600") Crear Estudiante
        main(class="mx-auto container mt-10 px-2")
            block contenido
            block scripts 